<%# <script>$('[data-toggle="tooltip"]').tooltip()</script> %>
<%= render "shared/header"%>
<div class="main-background"> 
  <div class="container">
    <div class="main row">

      <%# サイドメニュー %>
      <div class="side-menu col-2">
        <%= render "shared/side-menu" %>
      </div>
    <div class="record col-10">
      <article class="record-add">
        <h1 class="share-cards-title"><%= "#{@user.last_name}さん通知登録"%></h1>
         <div class="d-flex">
          <%# メール通知登録フォーム %>
            <div class="mail-notice-form">
              <%= form_with model: [@user, @notice], local: true do |f| %> 
                <%= render 'shared/error_messages', model: f.object %>
                <table>
                  <tr class="notice-date d-flex align-items-start input-form">
                    <td class="date-tag tag">日付</td>
                    <td class="indispensable"><span class="indispensable-tag">必須</span></td>
                    <td class="date-filed text-filed">
                      <%= f.date_field :notice_date %> 
                    </td>
                  </tr>
                  <tr class="notice-description d-flex align-items-start input-form">
                    <td class="date-tag tag">内容</td>
                    <td class="indispensable"><span class="indispensable-tag">必須</span></td>
                    <td class="date-filed text-filed">
                      <%= f.text_area :description, placeholder:"例)売り上げ予測を報告" %> 
                    </td>
                  </tr>
                  <tr class="notice-description d-flex align-items-start input-form">
                    <td class="date-tag tag">会話ネタ</td>
                    <td class="indispensable"></td>
                    <td class="date-filed text-filed">
                      <%= f.text_area :topic, placeholder:"例)オリンピック開催" %> 
                    </td>
                  </tr>
                </table>
                <div class="sell-btn-contents">
                  <%= f.submit "作成", class:"btn btn-dark", id:"notice-submit" %>
                </div>
              <% end %>
            </div>
            <div class="mail-notice-precautions">
              <h3 class="mail-title">注意事項</h3>
               <ul id="mail-description">
                <li class="mail-detail">メールは登録した日付の毎朝9時に送信されます</li>
                <li class="mail-detail">過去の日程は登録できません</li>
               </ul>
            </div>
        </div>
      </article>

        <article class="mail-colum-title record-list">
          <h1 class="share-cards-title"><%= "#{@user.last_name}さん通知一覧"%></h1>
          <%# メール通知登録一覧表示 %>
          <table class="mail-colum">
            <tr class="mail-colum-title">
                <td class="record-list-date mail-column-value">日付</td>
                <td class="record-list-date mail-column-value">内容</td>
                <td class="record-list-date mail-column-value">会話ネタ</td>
                <td class="record-list-date mail-column-value">削除</td>
            </tr>
          </table>
            <div class="mail-notice-list">
              <table  class="mail-colum">
                <% @notices.each do |notice| %>
                  <tr>
                    <td class="record-list-date mail-column-value"><%= notice.notice_date %></td>
                    <td class="record-list-date mail-column-value"><%= notice.description %></td>
                    <td class="record-list-date mail-column-value"><%= notice.topic %></td>
                    <td class="record-list-delete mail-column-value"><%= link_to "削除", user_notice_path(@user.id, notice.id), method: :delete %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </table>
        </article>
      </div>
    </div>
  </div>
</div>
  <%= render "shared/footer" %>