<%= render "shared/second-header"%>

<%# プロフィール詳細 %>
<h2 class="page-heading">
  <%= "#{@user.first_name}さんの情報"%>
</h2>
<table class="table">
  <tbody>

  <tr>
    <th class="table__col1">名前</th>
    <td class="table__col2"><%= @user.first_name %></td>
  </tr>
  <tr>
    <th class="table__col1">会社名</th>
    <td class="table__col2"><%= @user.company %></td>
  </tr>
  <tr>
    <th class="table__col1">部署</th>
    <td class="table__col2"><%= @user.department %></td>
  </tr>

  </tbody>
</table>

<%# 投稿カード一覧 %>
<h2 class="page-heading">
  <%= "#{@user.first_name}さんのプロトタイプ"%>
</h2>
<div class="cards">
カード一覧
   <%= render partial: "shared/card-format" , locals: { cards: @cards }%>

</div>

<%# お気に入り一覧 %>
<h2 class="page-heading">
  <%= "#{@user.first_name}さんのお気に入り"%>
</h2>
<div class="favorite-cards-list">
  <div class="favorite-card">
     <%= render partial: "shared/favorite-format" , locals: { favorites: @favorites }%>
  </div>
</div>

<%= render "shared/footer" %>