<%= render "shared/header"%>
<div class="main-background">
  <div class="container">
    <div class="main row">
      <div class="side-menu col-2">
        <%= render "shared/side-menu" %>
      </div>

      <div class="user-profile col-10">
        <%# プロフィール詳細 %>
        <h1 class="share-cards-title"><%= "#{@user.last_name}さんのプロフィール"%></h1>
        
        <div class="profile d-flex">
          <ul>
          <div class="card-list d-flex justify-content-between">
            <div class="card-right">
              <%# 氏名 %>
              <li class="card-name">
                <ul class="name-list">
                  <li class="name"><%= "#{@user.last_name} #{@user.first_name}" %></li>
                  <li class="kana"><%= "#{@user.last_name_kana} #{@user.first_name_kana}" %></li>
                </ul>
              </li>
          
              <%# 会社・部署 %>
              <li class="card-company">
                <ul class="company-list">
                  <li class="company-name"><%= "#{@user.company} #{@user.company_form.form}" %></li>
                  <li class="department"><%= @user.department %></li>
                </ul>
              </li>
          
              <%# 電話番号 %>
              <li class="card-phone">
                <%= @user.phone_number%>
              </li>
              
            </div>

            <div class="card-left">
                <%# 人物画像 %>
                <li calss="card-image">
                  <%= image_tag "boss.png", size: '100x100', class: "card-ditail-image" %>
                </li>
            </div>

          </div>
        </ul>

          <div class="bio-resim-baddate">
            <p class="name">不安定日</p>
            <p><%= @bad_date[1][0] %></p>
            <p><%= @bad_date[0][0] %></p>
          </div>

        </div>
        <%# 投稿カード一覧 %>
        <section class="user-cards record-list">
          <div class="cards">
            <h2 class="page-heading"><%= "投稿名刺一覧"%></h2>
            <%= render partial: "shared/card-format" , locals: { cards: @cards }%>
          </div>
        </section>

        <%# お気に入り一覧 %>
        <section class="user-favorites record-list">
          <div class="favorites">
            <h2 class="page-heading"><%= "お気に入り"%></h2>
            <%= render partial: "shared/favorite-format" , locals: { favorites: @favorites }%>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>