<div class="cards d-flex justify-content-between flex-wrap w-100">
  <% favorites.each do |favorite| %>
  <ul>    
  <%= link_to card_path(favorite.id) do %> 
  <div class="card-info d-flex justify-content-between">

    <div class="card-info-right">
      <%# お気に入り名刺_氏名 %>
      <li class="card-name">
        <ul>
          <li class="name"><%= "#{favorite.s_last_name} #{favorite.s_first_name}" %></li>
          <li class="kana"><%= "#{favorite.s_last_name_kana} #{favorite.s_first_name_kana}" %></li>
        </ul>
      </li>
      <%# お気に入り名刺_会社・部署 %>
      <li class="card-company">
        <ul class="company-list">
          <li class="company-name"><%= "#{favorite.s_company}#{favorite.s_company_form.form}" %></li>
          <li class="department"><%= favorite.s_department %></li>
        </ul>
      </li>
      <%# お気に入り名刺_電話番号 %>
      <li class="card-phone">
        <%= favorite.s_phone_number%>
      </li>

    </div>

    <div class="card-info-left">
      <%# お気に入り名刺_写真 %>
      <li calss="card-image">
        <% if favorite.image.attached? %>
          <%= image_tag favorite.image.variant(resize: '100x100') %>
        <% else %>
          <%= image_tag "boss.png", size: '100x100' %>
        <% end %>
      </li>

      <%# お気に入り_ステータス %>
      <li class="card-favorites">
        <%=link_to "お気に入り解除", card_favorites_path(favorite.id), method: :delete %>
      </li>
    </div>
  </div>  
    <% end %>
  </ul>
  <% end %>
</div>