<div class="card">
  <ul class="card-list">
    <% favorites.each do |favorite| %>
      <%= link_to card_path(favorite.id) do %> 
    
    <div class="card-right">
      <%# 氏名 %>
      <li class="card-name">氏名
        <ul class="name-list">
          <li class="first-name"><%= favorite.s_first_name %></li>
          <li class="last-name"><%= favorite.s_last_name %></li>
          <li class="first-name-kana"><%= favorite.s_first_name_kana %></li>
          <li class="last-name-kana"><%= favorite.s_last_name_kana %></li>
        </ul>
      </li>
      <%# 会社・部署 %>
      <li class="card-company">会社/部署
        <ul class="company-list">
          <li class="company-name"><%= favorite.s_company %></li>
          <li class="company-form"><%= favorite.s_company_form_id%></li>
          <li class="department"><%= favorite.s_department %></li>
        </ul>
      </li>
      <%# 電話番号 %>
      <li class="card-phone">電話番号
        <%= favorite.s_phone_number%>
      </li>
      <%# 誕生日 %>
      <li class="card-birtday">誕生日
        <%= favorite.s_birth_day %>
      </li>
    <div>

    <div class="card-left">
      <%# 人物画像 %>
      <li calss="card-image">
        <% if favorite.image.attached? %>
          <%= image_tag favorite.image.variant(resize: '20x20'), class: "card-ditail-image" %>
        <% else %>
          <%= image_tag "sample_image.png", class: "card-ditail-image" %>
        <% end %>
      </li>
    
    <% end %>
    <%# お気に入り %>
      <li class="card-favorites">
        <%=link_to "お気に入り解除", card_favorites_path(favorite.id), method: :delete %>
      </li>
    </div>
    <% end %>
  </ul>
</div>