<div class="cards d-flex justify-content-between flex-wrap w-100">
  <% favorites.each do |favorite| %>
  <ul>    
  <%= link_to card_path(favorite.id) do %> 
  <div class="card-list d-flex justify-content-between">

    <div class="card-right">
      <%# 氏名 %>
      <li class="card-name">
        <ul class="name-list">
          <li class="name"><%= "#{favorite.s_last_name} #{favorite.s_first_name}" %></li>
          <li class="kana"><%= "#{favorite.s_last_name_kana} #{favorite.s_first_name_kana}" %></li>
        </ul>
      </li>
      <%# 会社・部署 %>
      <li class="card-company">
        <ul class="company-list">
          <li class="company-name"><%= "#{favorite.s_company}#{favorite.s_company_form_id}" %></li>
          <li class="department"><%= favorite.s_department %></li>
        </ul>
      </li>
      <%# 電話番号 %>
      <li class="card-phone">
        <%= favorite.s_phone_number%>
      </li>

    </div>

    <div class="card-left">
      <%# 人物画像 %>
      <li calss="card-image">
        <% if favorite.image.attached? %>
          <%= image_tag favorite.image.variant(resize: '20x20'), class: "card-ditail-image" %>
        <% else %>
          <%= image_tag "boss.png", size: '100x100', class: "card-ditail-image" %>
        <% end %>
      </li>

      <%# お気に入り %>
      <li class="card-favorites">
        <%=link_to "お気に入り解除", card_favorites_path(favorite.id), method: :delete %>
      </li>
    </div>
  </div>  
    <% end %>
  </ul>
  <% end %>
</div>