<header class="background-image">
  <div class="container">
    <div class="header row d-flex align-items-center ">
      <%# ロゴ %>
      <div class="col-4">
        <h2><%= link_to "Super-Alert", root_path, class: 'header-title' %></h2>
      </div>

      <%# 検索機能 %>
      <div class="header-search col-5">
          <% if user_signed_in? %>
            <%= form_with(url: search_cards_path, local: true, method: :get) do |form| %>
              <%= form.text_field :keyword, placeholder: "名刺を検索", class: "search-field" %>
              <%= form.submit "検索", id: "search-btn" %>
            <% end %>
          <% end %>
      </div>

      <%# ログイン機能 %>
      <nav class="col-3 d-flex justify-content-between" >
        <% if user_signed_in? %>
          <div class="header-log-in">ログイン中</div>
          <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "pull-down-list", "data-testid": 'log_out' %></div>
        <% else %>
          <div><%= link_to "テストログイン", users_test_sign_in_path, class: "header-log-in", method: :post, "data-testid": 'test_log_in' %></div>
          <div id="log-in-menu"><span class="header-log-in">ログイン</span>
            <ul class="hidden", id="pull-down"> 
              <li><%= link_to "新規登録", new_user_registration_path, class: "pull-down-list" %></li>
              <li><%= link_to "ログイン", new_user_session_path, class: "pull-down-list" %></li>
            </ul>
          </div>
        <% end %>
      </nav>
    </div>
  </div>
</header>