<div class="header">

  <%# タイトル %>
  <div class="header-title">
    <h2><%= link_to "WARNNING", root_path %></h2>
  </div>

  <%# ログイン機能 %>
  <div class="user mb-5", id="user" >
    <h4 id="user-menu">ユーザー</h4>
    <ul class="hidden", id="pull-down"> 
      <% if user_signed_in? %>
        <li class="pull-down-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-primary" %></li>
        <li class="pull-down-list"><%= link_to "ユーザー詳細", user_path(current_user.id), class:"btn btn-primary" %> </li>
      <% else %>
        <li class="pull-down-list"><%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %></li>
        <li class="pull-down-list"><%= link_to "ログイン", new_user_session_path, class:"btn btn-primary" %></li>
      <% end %>
    </ul>
  </div>

</div>