<%= render "shared/header"%>
<div class="main-background">
  <div class="container">
    <div class="main row">

      <%# サイドメニュー %>
      <div class="side-menu col-2">
        <%= render "shared/side-menu" %>
      </div>
    
    <div class="record col-10">
        <article class="record-add">
          <h1 class="share-cards-title"><%= "#{@card.s_last_name}さん通話履歴登録"%></h1>
          <%# 入力フォーム %>
          <%= form_with model: [@card, @record], local: true do |f| %> 
            
            <table>
              <tr class="record-date d-flex align-items-start">
                <td class="date-tag tag">日付</td>
                <td class="indispensable"><span class="indispensable-tag">必須</span></td>
                <td class="date-filed text-filed">
                  <%= f.date_field :date %> 
                </td>
              </tr>

              <tr class="record-time d-flex align-items-start">
                <td class="time-tag tag">時間</td>
                <td class="indispensable"><span class="indispensable-tag">必須</span></td>
                <td class="time-filed text-filed">
                  <%= f.collection_select(:phone_time_id, PhoneTime.all, :id, :time, {}, {class:"select-box", id:"item-category"})%>  
                </td>
              </tr>

              <tr class="record-expression d-flex align-items-start">
                <td class="expression-tag tag">感情</td>
                <td class="indispensable"><span class="indispensable-tag">必須</span></td>
                <td class="expression-filed text-filed">
                  <%= f.collection_select(:expression_id, Expression.all, :id, :status, {}, {class:"select-box", id:"item-category"})%>  
                </td>
              </tr>

              <tr class="record-call d-flex align-items-start">
                <td class="call-tag tag">着信有無</td>
                <td class="indispensable"><span class="indispensable-tag">必須</span></td>
                <td class="call-filed text-filed">
                  <%= f.collection_select(:phone_call_id, PhoneCall.all, :id, :status, {}, {class:"select-box", id:"item-category"})%>
                </td>
              </tr>
            <table>
            <div class="sell-btn-contents">
              <%= f.submit "作成", class:"btn btn-dark " %>
            </div>
          <% end %>
        </article>
        <article class="record-list">
          <h1 class="share-cards-title"><%= "#{@card.s_last_name}さん通話履歴一覧"%></h1>
          <%# 着信履歴一覧表示 %>
          <table>
            <tr class="record-description">
              <td class="record-list-date record-column">日付</td>
              <td class="record-list-time record-column">時間</td>
              <td class="record-list-expression record-column">感情</td>
              <td class="record-list-call record-column">着信有無</td>
              <td class="record-list-delete record-column">削除</td>
            </tr>
            <% @records.each do |record| %>
              <tr>
                <td class="record-list-date record-column"><%= record.date %></td>
                <td class="record-list-time record-column"><%= record.phone_time.time %></td> 
                <td class="record-list-expression record-column"><%= record.expression.status %></td>
                <td class="record-list-call record-column"><%= record.phone_call.status %></td>
                <td class="record-list-delete record-column"><%= link_to "削除", card_record_path(@card.id, record.id), method: :delete %></td>
              </tr>
            <% end %>
          </table>
        </article>
      </div>
    </div>
  </div>
</div>
    <%= render "shared/footer" %>