<%= render "shared/header"%>

<div class="main-background"> 
  <div class="container">
    <div class="main row">
      <%# サイドメニュー %>
      <div class="side-menu col-2">
        <%= render "shared/side-menu" %>
      </div>

      <div class="card-registration col-10">
          <%# 名刺編集タイトル %> 
          <h1 class="share-cards-title"><%= "#{@card.s_last_name}さん名刺編集"%></h1>
          <%# 名刺記入フォーム %>
          <%= render partial: "shared/card-input-form" , locals: { card: @card } %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
