<%# ヘッダー %>
  <%= render "shared/header"%>

  <div class="main-background"> 
    <div class="container">
      <div class="row">
        <%# サイドメニュー %>
        <div class="side-menu col-2">
          <%= render "shared/side-menu" %>
        </div>
        <%# 共有名刺一覧表示 %>
        <div class="col-10">
          <h1 class="share-cards-title">共有名刺一覧</h1>
          <div class="cards d-flex justify-content-between flex-wrap w-100">
            <%= render partial: "shared/card-format" , collection: @cards, as: "card" %>
          </div>
          <%= paginate @cards %>
        </div>
      </div>
    </div>
  </div>
  <%# フッター %>
  <%= render "shared/footer" %>