<%= render "shared/second-header"%>

<div calss="card-ditail">
  <%# 上司写真_レフト表示 %>

  <div calss="card-ditail-left">
    <% if @card.image.attached? %>
      <%= image_tag @card.image.variant(resize: '100x100'), class: "card-ditail-image" %>
    <% else %>
      <%= image_tag "sample_image.png", class: "card-ditail-image" %>
    <% end %>
  </div>
  <%# 上司情報_ライト表示 %>
  <div class="card-ditail-right">
    <p><%= @card.s_company %></p>
    <p><%= @card.s_company_form_id%></p>
    <p><%= @card.s_department %></p>
    <p><%= @card.s_first_name %></p>
    <p><%= @card.s_last_name %></p>
  </div>
  <%# ユーザー別表示分岐 %>
  <% if user_signed_in? %>
    <% if @card.user_id == current_user.id %>
      <div class="card-ditail-edit">
        <%= link_to "編集", edit_card_path(@card.id), class: "btn btn-primary" %>
        <%= link_to "削除", card_path(@card.id), method: :delete, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <%# 着信履歴登録 %>
  <%= link_to "着信履歴追加", card_records_path(@card.id), class: "btn btn-primary" %>
  <%# <%= link_to "着信履歴編集", edit_card_record_path(@card.id), class: "btn btn-primary" %>
  <div class="bio-resim-baddate">
    バイオリズム不調日
    <p><%= @bad_date[1][0] %></p>
    <p><%= @bad_date[0][0] %></p>
  </div>
  <div class="phone-time-mode">
    電話最頻値
    <p><%= @phone_time_mode[0][0] %></p>
    <p><%= @phone_time_mode[1][0] %></p>
  </div>

  <%= line_chart @bio_reism, width: "500px", height: "200px" %>
  <%= line_chart @expression, width: "500px", height: "200px" %>
  <%= column_chart @phone_time, width: "500px", height: "200px" %>
  <%= column_chart @phone_date, width: "500px", height: "200px" %>

  <%= render "shared/footer" %>